<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duolingo Word List</title>
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Word</th>
                            <th>Translation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <script>
                            var learning_language = '{learning_language}';
                            switch (learning_language) {{
                                case 'zh':
                                    voice = 'Chinese Female';
                                    break;
                                case 'fr':
                                    voice = "French Female";
                                    break;
                            }}
                        </script>
                        {content}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>