<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duolingo Word List</title>
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
</head>
<body>
    <script>
        var learning_language = '{learning_language}';
        switch (learning_language) {{
            case 'zh':
                voice = 'Chinese Female';
                break;
            case 'fr':
                voice = "French Female";
                break;
        }}
    </script>
    {content}
</body>
</html>